# Ignore specific local files
data/google-auth-calendar.json
token.json
.env
backend/data/compiled_master_calendar.json
backend/data/approved_social_events.json
backend/data/contacts_registry.json

backend/data/conversation_states.json
backend/data/interests.json
backend/data/telegram_user_cache.json 
backend/data/message_history.json 
backend/data/user_goals.json


# Ignore entire folders
.venv/
