# Ignore specific local files
data/google-auth-calendar.json
token.json
.env
data/compiled_master_calendar.json
data/approved_social_events.json
data/contacts_registry.json

data/conversation_states.json
data/interests.json
data/telegram_user_cache.json 
data/message_history.json 
data/user_goals.json


data/compiled_master_calendar.json
data/contacts_registry.json
data/conversation_states.json
data/telegram_user_cache.json


# Ignore entire folders
.venv/
